# Pandas DataFrame
https://www.youtube.com/watch?v=da5ALiQYb1E&list=PL2PZw96yQChwAHk8cA5Rv7TnynBjxbOJI&index=45

### Ej45. Crear DataFrame

In [16]:
import pandas as pd
df = pd.DataFrame({
    'a': [3,4],
    'b': 2,
    'c': 'Paco',
})
df

   a  b     c
0  3  2  Paco
1  4  2  Paco

### Ej46. Nombres de Ã­ndices

In [17]:
df.columns=['A','B','C']
df

   A  B     C
0  3  2  Paco
1  4  2  Paco

In [18]:
df.index=['primero','segundo']
df

         A  B     C
primero  3  2  Paco
segundo  4  2  Paco

In [22]:
df.loc['segundo']

A       4
B       2
C    Paco
Name: segundo, dtype: object

### Ej47. Nombre de filas y columnas

In [27]:
df = pd.DataFrame({
    'a': [3,4,5,6],
    'b': 2,
    'c': 'Paco',
})
df.index

RangeIndex(start=0, stop=4, step=1)

In [29]:
df

   a  b     c
0  3  2  Paco
1  4  2  Paco
2  5  2  Paco
3  6  2  Paco

In [31]:
df.columns

Index(['a', 'b', 'c'], dtype='object')

### Ej48. Tipos de datos de las columnas

In [32]:
df

   a  b     c
0  3  2  Paco
1  4  2  Paco
2  5  2  Paco
3  6  2  Paco