# Ejercicios pandas
https://www.youtube.com/watch?v=rny9Mv1CTF0&list=PL2PZw96yQChwAHk8cA5Rv7TnynBjxbOJI&index=1

## Introducción

### Ej1. Versión de librería pandas

In [4]:
import pandas as pd
pd.__version__

'1.0.5'

### Ej2. Serie

In [11]:
datos = [2,3,5,6,11]
s = pd.Series(datos)
s

0     2
1     3
2     5
3     6
4    11
dtype: int64

In [13]:
s.size

5

In [15]:
s.describe()

count     5.000000
mean      5.400000
std       3.507136
min       2.000000
25%       3.000000
50%       5.000000
75%       6.000000
max      11.000000
dtype: float64

### Ej3. Pasar de serie a lista

In [18]:
lista=list(s)
lista

[2, 3, 5, 6, 11]

### Ej4. Operaciones aritméticas

In [20]:
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series([6,7,8,9,10])
s1+s2

0     7
1     9
2    11
3    13
4    15
dtype: int64

In [22]:
s2-s1

0    5
1    5
2    5
3    5
4    5
dtype: int64

In [25]:
s1*s2

0     6
1    14
2    24
3    36
4    50
dtype: int64

In [27]:
s2/s1

0    6.000000
1    3.500000
2    2.666667
3    2.250000
4    2.000000
dtype: float64

### Ej5. Operadores relacionales

In [31]:
s2<s1

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [33]:
s1<s2

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [35]:
s1==s2

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [37]:
s1!=s2

0    True
1    True
2    True
3    True
4    True
dtype: bool

### Ej6. Diccionario a Serie

In [43]:
d={'a':2,'c':3}
d['c']

3

In [44]:
sd = pd.Series(d)
sd

a    2
c    3
dtype: int64

In [45]:
sd['c']

3

### Ej7. Array numpy a Serie pandas

In [47]:
import numpy as np
a = np.array([2,3,5,7,11])
a

array([ 2,  3,  5,  7, 11])

In [49]:
s = pd.Series(a)
s

0     2
1     3
2     5
3     7
4    11
dtype: int32

### Ej8. Cambiar tipo de datos de una Serie

In [51]:
s = pd.Series(['100','200','python','300.15'])
s

0       100
1       200
2    python
3    300.15
dtype: object

In [54]:
datos = pd.to_numeric(s, errors='coerce')
datos

0    100.00
1    200.00
2       NaN
3    300.15
dtype: float64