# Pandas DataFrames

In [1]:
import pandas as pd

### Ej35. DataFrame a partir de Series

In [11]:
s = pd.Series([3,5,3,2,7,8,5,])
type(s)

pandas.core.series.Series

In [12]:
s

0    3
1    5
2    3
3    2
4    7
5    8
6    5
dtype: int64

In [13]:
df = s.to_frame()
type(df)

pandas.core.frame.DataFrame

In [15]:
df

   0
0  3
1  5
2  3
3  2
4  7
5  8
6  5

### Ej36. Series a CSV

In [17]:
s.to_csv()

',0\r\n0,3\r\n1,5\r\n2,3\r\n3,2\r\n4,7\r\n5,8\r\n6,5\r\n'

In [18]:
s.to_csv(index=False)

'0\r\n3\r\n5\r\n3\r\n2\r\n7\r\n8\r\n5\r\n'

### Ej37. Función sobre los elementos de una Series

In [19]:
s = pd. Series([20,25,30],index=['Santander','Madrid','Sevilla'])
s

Santander    20
Madrid       25
Sevilla      30
dtype: int64

In [20]:
s.apply(lambda x: x+273)

Santander    293
Madrid       298
Sevilla      303
dtype: int64

In [25]:
def incremento_temperatura(x,delta):
    return x+delta*2
s.apply(incremento_temperatura,args=(3,)) # el 1er argumento es el de la serie

Santander    26
Madrid       31
Sevilla      36
dtype: int64

### Ej38. Elementos en un rango

In [31]:
s = pd.Series([5,4,3,4,7,8,3])
s.between(4,7, inclusive=False)

0     True
1    False
2    False
3    False
4    False
5    False
6    False
dtype: bool

In [30]:
(4<=s) & (s<=5)

0     True
1     True
2    False
3     True
4    False
5    False
6    False
dtype: bool

In [32]:
s = pd.Series([
    'Ana',
    'Pedro',
    'Adela',
    'Sofía',
    'Juan',
])
s.between('Ana','Pedro')

0     True
1     True
2    False
3    False
4     True
dtype: bool