# Ejercicios pandas
https://www.youtube.com/watch?v=rny9Mv1CTF0&list=PL2PZw96yQChwAHk8cA5Rv7TnynBjxbOJI&index=1

## Introducción

### Ej1. Versión de librería pandas

In [4]:
import pandas as pd
pd.__version__

'1.0.5'

### Ej2. Serie

In [11]:
datos = [2,3,5,6,11]
s = pd.Series(datos)
s

0     2
1     3
2     5
3     6
4    11
dtype: int64

In [13]:
s.size

5

In [15]:
s.describe()

count     5.000000
mean      5.400000
std       3.507136
min       2.000000
25%       3.000000
50%       5.000000
75%       6.000000
max      11.000000
dtype: float64

### Ej3. Pasar de serie a lista

In [18]:
lista=list(s)
lista

[2, 3, 5, 6, 11]

### Ej4. Operaciones aritméticas

In [20]:
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series([6,7,8,9,10])
s1+s2

0     7
1     9
2    11
3    13
4    15
dtype: int64

In [22]:
s2-s1

0    5
1    5
2    5
3    5
4    5
dtype: int64

In [25]:
s1*s2

0     6
1    14
2    24
3    36
4    50
dtype: int64

In [27]:
s2/s1

0    6.000000
1    3.500000
2    2.666667
3    2.250000
4    2.000000
dtype: float64

### Ej5. Operadores relacionales

In [31]:
s2<s1

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [33]:
s1<s2

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [35]:
s1==s2

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [37]:
s1!=s2

0    True
1    True
2    True
3    True
4    True
dtype: bool

### Ej6. Diccionario a Serie

In [43]:
d={'a':2,'c':3}
d['c']

3

In [44]:
sd = pd.Series(d)
sd

a    2
c    3
dtype: int64

In [45]:
sd['c']

3

### Ej7. Array numpy a Serie pandas

In [47]:
import numpy as np
a = np.array([2,3,5,7,11])
a

array([ 2,  3,  5,  7, 11])

In [49]:
s = pd.Series(a)
s

0     2
1     3
2     5
3     7
4    11
dtype: int32

### Ej8. Cambiar tipo de datos de una Serie

In [51]:
s = pd.Series(['100','200','python','300.15'])
s

0       100
1       200
2    python
3    300.15
dtype: object

In [55]:
datos = pd.to_numeric(s, errors='coerce')
datos

0    100.00
1    200.00
2       NaN
3    300.15
dtype: float64

### Ej9. Obtener columna de dataframe como serie
.ix deprecated; .loc(índice) y .iloc(posición)

In [69]:
df = pd.DataFrame({'a':[1,2,3],'b':[4,5,6]})
df.head()

   a  b
0  1  4
1  2  5
2  3  6

In [70]:
s = pd.Series(df['b'])
s

0    4
1    5
2    6
Name: b, dtype: int64

### Ej10. Fila de una df como serie

In [71]:
s = pd.Series(df.loc[1])
s

a    2
b    5
Name: 1, dtype: int64

### Ej11. Series de varias listas a una serie única

In [74]:
datos=[
    ['Colombia','Perú'],
    ['Argentina','Bolivia'],
    ['Chile','Brasil'],
]
s = pd.Series(datos)
s

0        [Colombia, Perú]
1    [Argentina, Bolivia]
2         [Chile, Brasil]
dtype: object

In [79]:
s.apply(pd.Series).stack().reset_index(drop=True)

0     Colombia
1         Perú
2    Argentina
3      Bolivia
4        Chile
5       Brasil
dtype: object

### Ej12. Ordenar valores de serie

In [88]:
s = pd.Series([6,5,4,8,7,9,3,])
s.sort_values()

6    3
2    4
1    5
0    6
4    7
3    8
5    9
dtype: int64

### Ej13. Agregar objeto a serie

In [94]:
s.append(pd.Series([17,15]))

0     6
1     5
2     4
3     8
4     7
5     9
6     3
0    17
1    15
dtype: int64

### Ej14. Crear serie a partir de un filtro de otra serie

In [98]:
s2 = s[ s<6 ]
s2

1    5
2    4
6    3
dtype: int64

### Ej15. Cambiar el orden del índice de una Serie

In [103]:
s.apply(pd.Series)

   0
0  6
1  5
2  4
3  8
4  7
5  9
6  3

In [111]:
datos=[5,6,7,8]
indices=['L','M','X','J']
s = pd.Series(data=datos,index=indices)
s.apply(pd.Series)

   0
L  5
M  6
X  7
J  8

In [113]:
# Recoloca los elementos de la serie, no cambia los índices
s = s.reindex(index=['M','L','X','J'])
s.apply(pd.Series)

   0
M  6
L  5
X  7
J  8

### Ej16. Promedio (mean) y desviación típica (std)

In [119]:
s.mean()

6.5

In [120]:
s.std()

1.2909944487358056

### Ej17. Máximo y mínimo

In [121]:
s.max()

8

In [123]:
s.min()

5

### Ej18. Estadísticas básica

In [125]:
s.describe()

count    4.000000
mean     6.500000
std      1.290994
min      5.000000
25%      5.750000
50%      6.500000
75%      7.250000
max      8.000000
dtype: float64

### Ej19. Obtener números pares e impares de una serie

In [127]:
s[ s%2==0 ]

M    6
J    8
dtype: int64

In [129]:
s[ s%2==1 ]

L    5
X    7
dtype: int64

### Ej20. Extraer datos de una serie como numpy

In [136]:
a = np.array(s)
a = s.values
a

array([6, 5, 7, 8], dtype=int64)

### Ej21. Comprobar si serie tiene valores NaN

In [150]:
s = s.append(pd.Series('hola'))
s

M       6
L       5
X       7
J       8
0    hola
0    hola
0    hola
dtype: object

In [155]:
s = pd.to_numeric(s, errors='coerce')
s

M    6.0
L    5.0
X    7.0
J    8.0
0    NaN
0    NaN
0    NaN
dtype: float64

In [157]:
s.hasnans

True

### Ej22. Tamaño en bytes de una serie

In [159]:
s.size

7

In [160]:
s.nbytes

56

In [162]:
s.nbytes/s.size # 8 bytes por elemento (64 bits, float(64)

8.0

### Ej23. Operaciones con métodos

In [166]:
s1=pd.Series([1,2,3,4])
s2=pd.Series([4,3,2,1])
s1.add(s2)

0    5
1    5
2    5
3    5
dtype: int64

In [168]:
s1.subtract(s2)

0   -3
1   -1
2    1
3    3
dtype: int64

In [170]:
s1.multiply(s2)

0    4
1    6
2    6
3    4
dtype: int64

In [173]:
s1.divide(s2)

0    0.250000
1    0.666667
2    1.500000
3    4.000000
dtype: float64

### Ej24. Eliminar NaN

In [180]:
s = s.dropna()
s

M    6.0
L    5.0
X    7.0
J    8.0
dtype: float64

### Ej25. Módulo de elementos de una serie

In [184]:
s.multiply([1,-1,1,-1]).abs()

M    6.0
L    5.0
X    7.0
J    8.0
dtype: float64

### Ej26. Agregación

In [186]:
s.max()

8.0

In [196]:
s.agg(['max','min','sum'])
#s.agg([sum,max])

max     8.0
min     5.0
sum    26.0
dtype: float64

In [199]:
s.agg(lambda x: x**2-1)

M    35.0
L    24.0
X    48.0
J    63.0
dtype: float64

In [201]:
s.agg(np.sin)

M   -0.279415
L   -0.958924
X    0.656987
J    0.989358
dtype: float64

In [205]:
s.agg(lambda x: x**2).sum()

174.0

### Ej27. Reemplazar NaN

In [217]:
s=s.append(pd.Series(['hola']))
s=pd.to_numeric(s,errors='coerce')
s

M    6.0
L    5.0
X    7.0
J    8.0
0    NaN
0    NaN
0    NaN
0    NaN
0    NaN
0    NaN
0    NaN
0    NaN
0    NaN
dtype: float64

In [222]:
s.fillna(0,inplace=True)
s

M    6.0
L    5.0
X    7.0
J    8.0
0    0.0
0    0.0
0    0.0
0    0.0
0    0.0
0    0.0
0    0.0
0    0.0
0    0.0
dtype: float64

### Ej28. Operadores lógicos
lt, le, eq, gt, ge

In [235]:
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series([4,3,2,1,5])

In [236]:
s1>s2

0    False
1    False
2     True
3     True
4    False
dtype: bool

In [237]:
s1.lt(s2)

0     True
1     True
2    False
3    False
4    False
dtype: bool

In [238]:
s1.eq(s2)

0    False
1    False
2    False
3    False
4     True
dtype: bool

### Ej29. Primeros y últimos n elementos de una serie

In [241]:
s.head()

M    6.0
L    5.0
X    7.0
J    8.0
0    0.0
dtype: float64

In [243]:
s.tail()

0    0.0
0    0.0
0    0.0
0    0.0
0    0.0
dtype: float64

### Ej30. Sustituir valores de una serie

In [246]:
s[ s<1 ]

0    0.0
0    0.0
0    0.0
0    0.0
0    0.0
0    0.0
0    0.0
0    0.0
0    0.0
dtype: float64

In [249]:
s.where(s<1)

M    NaN
L    NaN
X    NaN
J    NaN
0    0.0
0    0.0
0    0.0
0    0.0
0    0.0
0    0.0
0    0.0
0    0.0
0    0.0
dtype: float64

In [253]:
s.where(s>0,-1) # ¡¡los que NO cumplan esa condición!!

M    6.0
L    5.0
X    7.0
J    8.0
0   -1.0
0   -1.0
0   -1.0
0   -1.0
0   -1.0
0   -1.0
0   -1.0
0   -1.0
0   -1.0
dtype: float64

### Ej31. Eliminar valores que no cumplan una condición

In [254]:
s

M    6.0
L    5.0
X    7.0
J    8.0
0    0.0
0    0.0
0    0.0
0    0.0
0    0.0
0    0.0
0    0.0
0    0.0
0    0.0
dtype: float64

In [257]:
s.where(s>0).dropna() # ¡¡los que no cumplen!!

M    6.0
L    5.0
X    7.0
J    8.0
dtype: float64

### Ej32. Contar valores repetidos

In [260]:
s.count()

13

In [262]:
s.value_counts()

0.0    9
8.0    1
7.0    1
5.0    1
6.0    1
dtype: int64

### Ej33. JSON de una serie

In [269]:
s=pd.Series([6,4,4,8,6,4,6,54])
s.to_json()

'{"0":6,"1":4,"2":4,"3":8,"4":6,"5":4,"6":6,"7":54}'

### Ej34. Diccionario desde una Serie

In [272]:
capitales = ['Lima', 'París', 'Moscú']
paises = ['Perú', 'Francia', 'Rusia']
s = pd.Series(capitales, index=paises)
s

Perú        Lima
Francia    París
Rusia      Moscú
dtype: object

In [274]:
s.to_dict()

{'Perú': 'Lima', 'Francia': 'París', 'Rusia': 'Moscú'}

In [277]:
d = s.to_dict()
s1 = pd.Series(d)
type(s1)

pandas.core.series.Series