# Provincias: consultas de agrupamientos

In [1]:
import pandas as pd
df = pd.read_csv('provincias.csv',sep=';')
df.head()

                autonomia   provincia  poblacion  superficie
0                 Galicia   La Coruña    1122799        7950
1                 Galicia        Lugo     336527        9856
2                 Galicia      Orense     314853        7273
3                 Galicia  Pontevedra     944346        4494
4  Principado de Asturias    Asturias    1042608       10603

## (38) ¿Cuántas provincias tiene cada comunidad autónoma?

In [6]:
a = df.groupby('autonomia').count()
a.head()

                 provincia  poblacion  superficie
autonomia
Andalucía                8          8           8
Aragón                   3          3           3
Canarias                 2          2           2
Cantabria                1          1           1
Castilla y León          9          9           9

### Autonomías con población por encima de la media

In [43]:
media_pob_autonomias = df.groupby('autonomia').sum()['poblacion'].mean()
media_pob_autonomias

2728615.470588235

In [49]:
a = df.groupby('autonomia').sum()['poblacion']
for i in a[ a>media_pob_autonomias ].index: print(i)

Andalucía
Cataluña
Comunidad Valenciana
Comunidad de Madrid

In [52]:
dfg = df.groupby('autonomia').sum()['poblacion']
dfg[ dfg>dfg.mean() ]

autonomia
Andalucía               8388107
Cataluña                7522596
Comunidad Valenciana    4959968
Comunidad de Madrid     6466996
Name: poblacion, dtype: int64

### ¿Tal vez la anterior?

In [3]:
a=dict(a)
for i in a: print(a[i],i,sep='\t')

autonomia
Andalucía                     8
Aragón                        3
Canarias                      2
Cantabria                     1
Castilla y León               9
Castilla-La Mancha            5
Cataluña                      4
Comunidad Foral de Navarra    1
Comunidad Valenciana          3
Comunidad de Madrid           1
Extremadura                   2
Galicia                       4
Islas Baleares                1
La Rioja                      1
País Vasco                    3
Principado de Asturias        1
Región de Murcia              1
Name: provincia, dtype: int64	provincia
autonomia
Andalucía                     8
Aragón                        3
Canarias                      2
Cantabria                     1
Castilla y León               9
Castilla-La Mancha            5
Cataluña                      4
Comunidad Foral de Navarra    1
Comunidad Valenciana          3
Comunidad de Madrid           1
Extremadura                   2
Galicia                       4
Islas Baleares                1
La Rioja                      1
País Vasco                    3
Principado de Asturias        1
Región de Murcia              1
Name: poblacion, dtype: int64	poblacion
autonomia
Andalucía                     8
Aragón                        3
Canarias                      2
Cantabria                     1
Castilla y León               9
Castilla-La Mancha            5
Cataluña                      4
Comunidad Foral de Navarra    1
Comunidad Valenciana          3
Comunidad de Madrid           1
Extremadura                   2
Galicia                       4
Islas Baleares                1
La Rioja                      1
País Vasco                    3
Principado de Asturias        1
Región de Murcia              1
Name: superficie, dtype: int64	superficie

## (39) Listado del número de provincias por autonomía ordenadas de más a menos provincias y por autonomía en caso de coincidir

In [4]:
a=dict(df.groupby('autonomia').count()['provincia'])
a=sorted(a.items(), key=lambda x: x[1], reverse=True)
for i in a: print(i[1],i[0],sep='\t')

9	Castilla y León
8	Andalucía
5	Castilla-La Mancha
4	Cataluña
4	Galicia
3	Aragón
3	Comunidad Valenciana
3	País Vasco
2	Canarias
2	Extremadura
1	Cantabria
1	Comunidad Foral de Navarra
1	Comunidad de Madrid
1	Islas Baleares
1	La Rioja
1	Principado de Asturias
1	Región de Murcia

## (40) ¿Cuántas provincias con nombre compuesto tiene cada comunidad autónoma?

In [5]:
df[ df['provincia'].str.contains(' ') ].groupby('autonomia').count()

                    provincia  poblacion  superficie
autonomia
Canarias                    2          2           2
Castilla-La Mancha          1          1           1
Galicia                     1          1           1
La Rioja                    1          1           1

In [6]:
a=dict(df[ df['provincia'].str.contains(' ') ].groupby('autonomia').count()['provincia'])
for i in a: print(a[i],i,sep='\t')

2	Canarias
1	Castilla-La Mancha
1	Galicia
1	La Rioja

## (41) Autonomías uniprovinciales

In [7]:
a=pd.DataFrame(df.groupby('autonomia').count()['provincia'])
a[ a['provincia']==1 ]

                            provincia
autonomia
Cantabria                           1
Comunidad Foral de Navarra          1
Comunidad de Madrid                 1
Islas Baleares                      1
La Rioja                            1
Principado de Asturias              1
Región de Murcia                    1

In [8]:
a=dict(df.groupby('autonomia').count()['provincia'])
for i in a:
    if a[i]==1:
        print(i)

Cantabria
Comunidad Foral de Navarra
Comunidad de Madrid
Islas Baleares
La Rioja
Principado de Asturias
Región de Murcia

In [4]:
a=df.groupby('autonomia')['provincia'].count()
a.columns=['aut','n']
a['n']

KeyError: 'n'